/*Global*/
$font-header: 'Cuprum', sans-serif;
$font-header-color: whitesmoke;
$font-header-shadow-color: #424B54;
$font-header-second-color: #D5ACA9;
$font-nav-link-color: #C5BAAF;
$text-color: #060404;
$font-section-color: #000000;
$background-game-history: #ffe8d6;
$background-game-rules: #ddbea9;
$background-game: #cb997e;
$background-footer: #B7B7A4;

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 370px;
    font-family: $font-header;
    font-size: 65px;
    text-align: center;
    color: $font-header-color;
    text-shadow: 2px 4px 10px $font-header-shadow-color;
}

h2 {
    margin: 0;
    padding-top: 30px;
    font-family: $font-header;
    text-shadow: 2px 4px 10px $text-color;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: $font-header-second-color;
}

h3 {
    margin: 0;
    padding-top: 100px;
    font-family: $font-header;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: $font-section-color;
}

/*Header*/
.splash {
    background-image: url("../images/pexels-darina-belonogova-8789746.jpg");
    height: 1080px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
    
        .nav-link {
            font-weight: 600;
            font-family: $font-header;
            color: $font-header-shadow-color;
            text-shadow: 2px 4px 10px $font-header-color;
            padding: 8px;
            text-decoration: none;
            transition: all 1s;
        }

        .nav-link:hover {
            color: $font-nav-link-color;
        }

        .fa-solid {
            color: $font-header-shadow-color;
            text-shadow: 2px 4px 10px $font-header-color;
            padding: 8px;
            text-decoration: none;
            transition: all 1s;
        }

        .fa-solid:hover {
            color: $font-nav-link-color;
        }
    }
}

.splash-inner {
    text-align: center;

    .btn {
        margin: 50px 0;
        display: inline-block;
        color: $font-header-color;
        font-weight: 600;
        padding: 20px 40px;
        text-decoration: none;
        background-color: $font-nav-link-color;
        border-radius: 5%;
        letter-spacing: 3px;
        cursor: pointer;
        transition: all 1s;
    }

    .btn:hover {
        color: $font-header-shadow-color;
    }
}

/*Game history*/
.Game-history {
    background: $background-game-history;
    height: 720px;

    .text {
        padding: 200px 350px;
        font-family: $font-header;
        font-size: 20px;
        font-style: italic;
        color: $text-color;
        line-height: 35px;
        text-indent: 60px;
        text-align: justify;
    }
}

/*Game rules*/
.Game-rules {
    background: $background-game-rules;
    height: 720px;

    .two-objects {
        display: flex;
        justify-content: center;
        padding: 80px 100px;

        .text {
            padding-right: 30px;
            font-family: $font-header;
            font-size: 20px;
            font-style: italic;
            color: $text-color;
            line-height: 35px;
            text-indent: 60px;
            text-align: justify;

            p {
                text-indent: 0;
            }
        }

        img {
            padding-top: 15px;
        }
    }
}

/*Game*/
.Game {
    background: $background-game;
    height: 720px;

    .text {
        padding: 100px 350px 15px 350px;
        font-family: $font-header;
        font-size: 20px;
        font-style: italic;
        color: $text-color;
        line-height: 35px;
        text-indent: 60px;
        text-align: justify;

        p {
            text-align: right;
            font-weight: 800;
        }
    }

    .Buttons {
        display: flex;
        justify-content: center;
        text-align: center;

        button {
            margin: 25px;
            cursor: pointer;
            font-size: 0;
            border: none;
            background: $background-game;

            .fa-regular {
                color: $text-color;
                font-size: 80px;
                padding-left: 7.5px;
                text-align: center;
                transition: all 1s;
            }

            .fa-regular:hover {
                transform: scale(1.2);
                transition: all 1s;
            }

            .fa-solid {
                color: $text-color;
                font-size: 80px;
                transition: all 1s;
            }

            .fa-solid:hover {
                transform: scale(1.3);
                transition: all 1s;
            }
        }
    }

    .Messages, .Result {
        text-align: center;
        color: $text-color;
        font-size: 30px;
        font-weight: 700;
    }
}

/*Footer*/
footer {
    margin: 0;
    background: $background-footer;

    .container-fluid {
        padding: 30px 160px;
    
        .social-media-content {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .copyright {
                margin: 0;
                list-style-type: none;
                font-size: 20px;
            }

            .social-media {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                justify-content: center;
                flex: 50% 0;
                align-items: center;
                
                .social {
                    font-size: 0;
                    padding: 0 10px;
                
                    .fab, .fa-brands {
                        font-size: 20px;
                        background: $text-color;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: $font-header-color;
                        border-radius: 50%;
                        transition: all 1s;
                    }

                    .fab:hover, .fa-brands:hover {
                        transform: scale(1.2);
                        transition: all 1s;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    /*Body*/
    h1 {
       padding-top: 10px;
    }

    /*Header*/
    .splash .container {
        padding: 0 5px;
        font-size: 12px;

        .nav-list {
            padding: 5px 0;
        }        
    }

    .splash-inner {
        padding: 50px 5px;
    }

    /*Game history*/
    .Game-history .text {
        padding: 35px 20px;
    }

    /*Game rules*/
    .Game-rules {
        height: 1080px;

        .two-objects {
            display: inline;
        
            .text {
                padding: 15px 20px;
                font-size: 14px;
                line-height: 20px;
            }

            img {
                width: 85%;
                margin-left: 7%;
            }
        }
    }
    
    /*Game*/
    .Game {
        height: 1080px;

        .text {
            padding: 35px 20px;
        }

        .Buttons {

            button {
                margin: 5px;

                .fa-regular, .fa-solid {
                    font-size: 60px;
                }
            }
        }

        .Messages, .Result {
            padding-top: 50px;
            font-size: 25px;
        }
    }

    /*Footer*/
    footer .container-fluid {
        padding: 10px 5px 30px 5px;

        .social-media-content {
            flex-wrap: wrap;
            flex-direction: column;
        
            .copyright {
                padding: 0;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /*Game history*/
    .Game-history .text {
        padding: 35px 20px;
    }

    /*Game rules*/
    .Game-rules {
        height: 1080px;

        .two-objects {
            display: inline;
        
            .text {
                padding: 15px 20px;
                font-size: 14px;
                line-height: 20px;
            }

            img {
                width: 70%;
                margin-left: 15%;
            }
        }
    }

    /*Game*/
    .Game .text {
        padding: 35px 20px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    /*Game history*/
    .Game-history .text {
        padding: 200px 150px;
    }

    /*Game rules*/
    .Game-rules {
        height: 1080px;

        .two-objects {
            display: inline;
        
            .text {
                padding: 15px 50px;
            }

            img {
                margin-left: 30%;
            }
        }
    }

    /*Game*/
    .Game .text {
        padding: 35px 20px;
    }
}